.section2-bg {
    height: 115% !important;
    opacity: 0.7;
    margin: 0 !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    inset: 0;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 100%;
    overflow: hidden;
}

/* Fix: target images inside .section2-bg, not .section1-bg */
.section2-bg img {
    position: absolute;
    transition: transform 0.15s ease-out;
}



.top-left2 {
    top: -5%;
    left: -10%;
    width: 22vw;
}

.top-middle2 {
    top: -10%;
    left: 45%;
    width: 18vw;
}

.middle-left2 {
    top: 40%;
    left: -5%;
    width: 20vw;
}

.bottom-left2 {
    bottom: -2%;
    left: -4%;
    width: 35vw;
}

.top-right2 {
    top: -12%;
    right: -8vw;
    width: 36vw;
}

.bottom-right2 {
    bottom: 5%;
    right: -4vw;
    width: 40vw;
}
