html {
    background-color: #f0e5c3;
}

body {
    margin: 0;
}

/* Section 1 */
/* Top Text */
.title {
    font-family: "Averia Sans Libre", cursive, sans-serif;
    font-weight: 700;
    font-size: 8vw;
    color: #131e29;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 3vw;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
}

.title:hover {
    transform: scale(1.01);
}

/* Title Span Styles */

.color-title {
    color: #7da75b;
}

/* Animated Me */
.me-container {
    position: relative;
    width: fit-content;
    margin: 3rem;
}

.me-image {
    display: block;
    width: 82vw;
    max-width: 600px;
    max-height: 75vh;
    height: auto;
    object-fit: contain;
    min-width: 105%;
    min-height: 105%;
    max-width: 110%;
    max-height: 110%;
}

/* My Speech Bubbles */

.bubble {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.about,
.work,
.contact,
.gallery {
    position: absolute;
    width: 10vw;
    max-width: 140px;
    height: auto;
    pointer-events: auto;
    transform-origin: center;
}

.about-bob {
    position: absolute;
    top: 20%;
    left: 19%;
    animation: idleBob1 3.2s ease-in-out infinite;
}

.about {
    width: 12vw;
    max-width: 190px;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.work-bob {
    position: absolute;
    top: 60%;
    left: 21%;
    animation: idleBob2 2.5s ease-in-out infinite;
}

.work {
    width: 12vw;
    max-width: 190px;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.contact-bob {
    position: absolute;
    top: 60%;
    right: 35%;
    animation: idleBob3 4s ease-in-out infinite;
}

.contact {
    width: 12vw;
    max-width: 190px;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.gallery-bob {
    position: absolute;
    top: 15%;
    right: 35%;
    animation: idleBob4 2s ease-in-out infinite;
}

.gallery {
    width: 12vw;
    max-width: 190px;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.about:hover,
.work:hover,
.contact:hover,
.gallery:hover {
    transform: scale(1.09);
}

/* Parallax Effect Stuffsss ty youtube */

.parallax-container {
    perspective: 1000px;
    position: relative;
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3.7vw;
    margin-left: -0.9vw;
    z-index: 2;
}

.parallax-layer {
    position: absolute;
    inset: 0;
    transition: transform 0.25s ease-out;
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.layer-gif {
    z-index: 1;
    pointer-events: none;
}

.layer-bubbles {
    z-index: 5;
    pointer-events: none;
}

/* Background styling HELP WHY WAS THIS SO HARD */

.Section1 {
    position: relative;
}

.section1-bg {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 0 !important;
    pointer-events: none;
}

/* Animations */

@keyframes idleBob1 {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@keyframes idleBob2 {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

@keyframes idleBob3 {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(7px);
    }
}

@keyframes idleBob4 {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

/* Section2 */

.Section2 {
    position: relative;
    width: 100vw;
    min-height: 130vh;
    margin-left: calc(-50vw + 50%);
    background-color: #22303a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section2-character {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: auto;
    top: 32%;
    right: 32%;
    pointer-events: none;
}

.section2-text {
    position: relative;
    z-index: 20;
    text-align: center;
    color: white;
    font-family: "Averia Sans Libre", cursive, sans-serif;
    margin-top: -30vw;
}

.visualstorytelling {
    font-size: 11vw;
    margin-bottom: -8.5vw;
}

.rootedin {
    font-size: 23vw;
    margin-bottom: -16vw;
}

.values {
    font-size: 11vw;
}

.curiosity {
    color: #eab300;
}

.care {
    color: #eab300;
}
