.section1-bg {
    height: 115% !important;
    opacity: 0.7;
    margin: 0 !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    inset: 0;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 100%;
    overflow: hidden;
}

.section1-bg img {
    position: absolute;
    transition: transform 0.15s ease-out;
}

.top-left {
    top: -10%;
    left: -5%;
    width: 22vw;
}

.top-middle {
    top: -10%;
    left: 45%;
    width: 18vw;
}

.middle-left {
    top: 40%;
    left: -5%;
    width: 20vw;
}

.bottom-left {
    bottom: -2%;
    left: -4%;
    width: 35vw;
}

.top-right {
    top: -12%;
    right: -8vw;
    width: 36vw;
}

.bottom-right {
    bottom: 5%;
    right: -4vw;
    width: 40vw;
}


.section1-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;     
    opacity: 0.7;
}


.section1-bg img {
    position: absolute;
    transition: transform 0.2s ease-out;  
    will-change: transform;               
}

@media (min-width: 1024px) {

    .top-left     { top: -10%; left: -5%;   width: 22vw; }
    .top-middle   { top: -10%; left: 45%;   width: 18vw; }
    .middle-left  { top: 40%;  left: -5%;   width: 20vw; }
    .bottom-left  { bottom: -2%; left: -4%; width: 35vw; }
    .top-right    { top: -12%; right: -8vw; width: 36vw; }
    .bottom-right { bottom: 5%;  right: -4vw; width: 40vw; }
}



@media (max-width: 640px) {

    .top-left     { top: -20%; left: -10%;  width: 30vw; }
    .top-middle   { top: -10%; left: 30%;   width: 30vw; }
    .middle-left  { display: none; }            
    .bottom-left  { bottom: 5%; left: -5%; width: 30vw; }
    .top-right    { top: -5%; right: -2vw; width: 30vw; }
    .bottom-right { bottom: 0%; right: -5vw; width: 30vw; }
}