
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.construction {
  font-family: 'Averia Sans Libre', cursive, sans-serif;
  font-size: 30px;
  color: #7DA75b;
}

.hi {
  font-family: 'Averia Sans Libre', cursive, sans-serif;
  font-size: 50px;
  color: #7DA75b;
}

.placeholder {
  max-width: 600px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
